/target
/outputs
/inputs
/prim*
*.mp4
*.mp3
*.mkv
*.webm
*.m4a
logs
temp
config.toml
test_complex_a.txt
keys
./a.py
./measure.txt
./in.webm
certificates
WinTime64.exe

/voice-web/target
/voice-web/expanded.rs
/stream_test