<!DOCTYPE html>
<html class="dark">
	<head>
		<meta charset="UTF-8" />
		<title>Index</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<main>
			<div id="list-wrapper">
				<div id="voice">VOICE</div>
				<div>Your files:</div>
				<ul>
					<li id="new-file" onclick="console.log('Click')">+ Create new</li>
					<li class="uploading">video1.mp4</li>
					<li class="processing">video2.webm</li>
					<li class="finished">audio.mp3</li>
					<li class="deleted">audio2.wav</li>
					<li class="uploading">video1.mp4</li>
					<li class="processing">video2.webm</li>
					<li class="finished">audio.mp3</li>
					<li class="deleted">audio2.wav</li>
					<li class="uploading">video1.mp4</li>
					<li class="processing">video2.webm</li>
					<li class="finished">audio.mp3</li>
					<li class="deleted">audio2.wav</li>
					<li class="uploading">video1.mp4</li>
					<li class="processing">video2.webm</li>
					<li class="finished">audio.mp3</li>
					<li class="deleted">audio2.wav</li>
					<li class="uploading">video1.mp4</li>
					<li class="processing">video2.webm</li>
					<li class="finished">audio.mp3</li>
					<li class="deleted">audio2.wav</li>
					<li class="uploading">video1.mp4</li>
					<li class="processing">video2.webm</li>
					<li class="finished">audio.mp3</li>
					<li class="deleted">audio2.wav</li>
					<li class="uploading">video1.mp4</li>
					<li class="processing">video2.webm</li>
					<li class="finished">audio.mp3</li>
					<li class="deleted">audio2.wav</li>
					
				</ul>
			</div>
			<!-- <div id="tool-wrapper" class="empty"></div> -->
			<div id="tool-wrapper">
				<header>
					<h1>video1.mp4</h1>
					<div><button>Menu</button> <button>Close</button></div>
				</header>
				<div id="tool">
					<div id="video">
						<h5>Video</h5>
						<video src="./" controls></video>
					</div>
					<div id="log">
						<h5>Log</h5>
						<div id="log-data">
							<div class="warn">test log 1</div>
							<div class="error">test log 2</div>
							<div class="error">long test log long test log long test log long test log long test log long test log long test log long test log </div>
							<div>test log 1</div>
							<div>test log 2</div>
							<div>long test log long test log long test log long test log long test log long test log long test log long test log </div>
							<div>test log 1</div>
							<div>test log 2</div>
							<div>long test log long test log long test log long test log long test log long test log long test log long test log </div>
							<div>test log 1</div>
							<div>test log 2</div>
							<div>long test log long test log long test log long test log long test log long test log long test log long test log </div>
							<div>test log 1</div>
							<div>test log 2</div>
							<div>long test log long test log long test log long test log long test log long test log long test log long test log </div>
							<div>test log 1</div>
							<div>test log 2</div>
							<div>long test log long test log long test log long test log long test log long test log long test log long test log </div>
							<div>test log 1</div>
							<div>test log 2</div>
							<div>long test log long test log long test log long test log long test log long test log long test log long test log </div>
							<div>test log 1</div>
							<div>test log 2</div>
							<div>long test log long test log long test log long test log long test log long test log long test log long test log </div>
							<div>test log 1</div>
							<div>test log 2</div>
							<div>long test log long test log long test log long test log long test log long test log long test log long test log </div>
						</div>
					</div>
					<div id="controls"></div>
				</div>
			</div>
		</main>
	</body>
</html>
