html.light {
	color: dark;
}

html.dark {
	--background: #0f1425;
	--background-accent: #272f4f;
	color: white;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	margin: 0;
	font-size: 16px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

#voice {
	font-size: 48px;
	padding: 24px;
}

main {
	display: grid;
	grid-template-columns: 300px 1fr;
	flex-grow: 1;
	height: 100%;
}

#list-wrapper {
	background-color: var(--background-accent);
	height: 100%;
	padding: 24px;
	padding-top: 0;
}

#list-wrapper > *:nth-child(2) {
	padding-top: 8px;
	padding-bottom: 8px;
}

main ul {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
	overflow-y: scroll;
	height: 100%;
}

main ul li {
	list-style: none;
	padding: 0.66em;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

main ul li:hover {
	background-color: red;
	transition: background-color ease-in 100ms;
}

main ul li::after {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--bulb-color);
	box-shadow: 0 0 5px 0px var(--bulb-color);
}

main ul li.uploading::after {
	--bulb-color: white;
}

main ul li.processing::after {
	--bulb-color: orange;
}

main ul li.finished::after {
	--bulb-color: lime;
}

main ul li.deleted::after {
	--bulb-color: #151515;
}

main ul li#new-file::after {
	content: none;
}
main ul li#new-file {
	margin-bottom: 4px;
}

#tool-wrapper.empty {
	background-color: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
}

#tool-wrapper.empty::after {
	content: "Select an existing video or create a new one!";
}

#tool-wrapper {
	background-color: var(--background-accent);
	padding: 1em;
	display: flex;
	flex-direction: column;
}

#tool-wrapper > header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	border-bottom: 1px solid var(--background);
}

#tool-wrapper > header > h1 {
	margin: 0;
}

#tool-wrapper > header button {
	appearance: none;
	background-color: red;
	color: white;
	border: 0;
	border-radius: 4px;
}

#tool {
	flex-grow: 1;
	display: grid;
	grid-template-areas: "video log" "controls controls";
	grid-template-columns: 2fr 1fr;
}

#tool > #video-log-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#video,
#log,
#controld {
	padding: 1em;
}

#video {
	background-color: red;
}

#video > h5 {
	/* padding-left: 1em; */
}

#video > video {
	width: 100%;
	aspect-ratio: 16/9;
}

#log {
	background-color: darkcyan;
	display: flex;
	flex-direction: column;
}

#log > #log-data {
	display: flex;
	width: 100%;
	gap: 4px;
	padding: 1em;
	aspect-ratio: 16/9;
	flex-grow: 1;

	border-radius: 4px;
	
	background-color: var(--background);
	flex-direction: column;

	overflow-y: scroll;
	overflow-x: hidden;
}

#log-data > * {
}

#log-data > *::before {
	content: "";
	display: inline-block;
	margin-right: 1ch;
	width:  8px;
	height: 8px;
	transform: translateY(-1px);
	border-radius: 50%;
	background-color: var(--bulb-color);
}

#log-data > *.warn  {
	--bulb-color: orange;
}

#log-data > *.error  {
	--bulb-color: red;
	color: red;
}

#log-data > *.warn  {
	--bulb-color: orange;
}

#controls {
	background-color: lime;
	/* grid-column: 1 / span 2; */
	grid-area: controls;
}
