.switch-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 1ch;

	width: fit-content; /* otherwise it takes up the whole container width */
}

.switch-container.reverse {
	flex-direction: row-reverse;
}

/* .switch-container:focus-within {
	outline: 2px solid Highlight;
	outline-offset: 1px;
} */

.switch-container > label {
	display: contents;
	cursor: pointer;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch-container.small .switch {
	width: 40px;
	height: 24px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--secondary);
	transition: 0.3s;
}

.slider::before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--white);
	transition: 0.3s;
	border-radius: inherit;
	filter: drop-shadow(0 0 2px var(--secondary-dark));
}

.switch-container.small .slider::before {
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
}

input:checked + .slider:before {
	transform: translateX(26px);
	filter: drop-shadow(0 0 2px var(--accent-dark));
}

.switch-container.small input:checked + .slider:before {
	transform: translateX(16px);
}

input:checked + .slider {
	background-color: var(--accent);
}

.switch-container.disabled {
	opacity: 0.7;
	filter: none;
	cursor: not-allowed;
}
.switch-container.disabled .switch {
	filter: brightness(0.7) contrast(0.7);
}
.switch-container.disabled * {
	cursor: not-allowed;
}
