.switch-container {
	display: flex;
	align-items: center;
	gap: 1ch;
}

/* .switch-container:focus-within {
	outline: 2px solid Highlight;
	outline-offset: 1px;
} */

.switch-container > label {
	display: contents;
	cursor: pointer;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--secondary);
	transition: 0.3s;
}

.slider::before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.3s;
	border-radius: inherit;
	filter: drop-shadow(0 0 2px var(--secondary-dark));
}

input:checked + .slider:before {
	transform: translateX(26px);
	filter: drop-shadow(0 0 2px var(--accent-dark));
}

input:checked + .slider {
	background-color: var(--accent);
}

.switch-container.disabled .switch {
	filter: brightness(0.7) contrast(0.7);
}
.switch-container.disabled * {
	cursor: not-allowed;
}
