.side-by-side {
	display: flex;
	gap: 1em;
	align-items: center;
}

.side-by-side > *:nth-child(1) {
	/* width: 275px; */
}

#upload-container {
	display: grid;
	grid-template-columns: 4fr 5fr;
	gap: 1em;
}

@media (width <= 866px) {
	#upload-container {
		grid-template-columns: 1fr;
	}
}

#submit-options {
	display: flex;
	flex-direction: column;
}
#submit-options > h5:first-child {
	grid-column: 1 / span 2;
}
#submit-options > *:not(:first-child) {
	margin-bottom: 16px;
}

.info-cirlce-flex {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.info-cirlce-flex > *:nth-child(2) {
	flex-shrink: 1;
}

.smaller-letter-spacing {
	letter-spacing: -0.5px;
}

#submit-options fieldset {
	border: 1px solid var(--accent);
	display: flex;
	flex-direction: column;
	padding: 16px;
	padding-top: 9px;
	gap: 16px;
}
#submit-options fieldset legend {
	color: var(--accent);
	margin-left: auto;
}

#video-from-url-error {
	color: var(--danger);
}

#max-file-size.highlighted {
	animation: highlight 0.75s ease infinite alternate-reverse;
	color: var(--danger);
}

@keyframes highlight {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

.progress-bar-main-show {
	animation: progress-bar-appear 1s ease forwards;
}

.progress-bar-main-hide {
	animation: progress-bar-disappear 1s ease forwards;
}

@keyframes progress-bar-appear {
	from {
		transform: translateY(1em);
	}
	to {
		transform: translateY(0);
	}
}

/* animation-direction: reverse didn't work so I duplicated the @keyframes */
@keyframes progress-bar-disappear {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(1em);
	}
}

#progress-bar-obscure {
	width: 100%;
	height: 0;
	max-height: 0;
}

#progress-bar-obscure::before {
	content: "";
	width: 100%;
	height: 1em;
	display: block;
	background-color: #111;

	position: relative;
	z-index: 2;
}
